image: docker:latest

stages:
  - build
  - test
  - analyze
  - docker-build

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - .gradle/wrapper
    - .gradle/caches

variables:
  SONAR_HOST_URL: "http://localhost:9000"
  SONAR_TOKEN: "sqp_9e61629775f0333b12fdbd9abaddad6f12370cd0"

build:
  stage: build
  image: openjdk:17
  script:
    - ./gradlew clean build

test:
  stage: test
  image: openjdk:17
  script:
    - ./gradlew test

sonarqube-check:
  stage: analyze
  image: gradle:7.4.2-jdk17
  script:
    - ./gradlew sonarqube -Dsonar.login=sqp_9e61629775f0333b12fdbd9abaddad6f12370cd0
  allow_failure: true

docker-build:
  stage: docker-build
  services:
    - docker:dind
  script:
    - docker build -t your-image-name:$CI_COMMIT_SHA .
