image: docker:latest

services:
  - docker:dind

variables:
  DOCKER_HOST: tcp://docker:2375/
  DOCKER_TLS_CERTDIR: ""

stages:
  - build
  - test
  - analyze
  - docker-build

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  image: gradle:7.4.2-jdk17
  script:
    - ./gradlew clean build

test:
  stage: test
  image: gradle:7.4.2-jdk17
  script:
    - ./gradlew test

sonarqube-check:
  stage: analyze
  image: gradle:7.4.2-jdk17
  script:
    - ./gradlew sonarqube
  allow_failure: true

docker-build:
  stage: docker-build
  script:
    - docker build -t your-image-name:$CI_COMMIT_SHA .
