image: openjdk:17

stages:
  - build
  - test
  - sonarqube

build:
  stage: build
  script:
    - gradle build

test:
  stage: test
  script:
    - gradle test

sonarqube-check:
  stage: sonarqube
  image: gradle:7.4.2-jdk17
  script:
    - gradle sonarqube
  allow_failure: true