stages:
  - build
  - test
  - sonarqube
  - docker

variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"

default:
  image: maven:3.8.6-jdk-11

cache:
  paths:
    - .m2/repository

before_script:
  - export PATH=$PATH:./mvnw

build:
  stage: build
  script:
    - mvn clean package
  artifacts:
    paths:
      - target/*.jar

test:
  stage: test
  script:
    - mvn test

sonarqube:
  stage: sonarqube
  image: sonarsource/sonar-scanner-cli:latest
  script:
    - sonar-scanner
  dependencies:
    - build

docker:
  stage: docker
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build -t myapp:latest .
    - docker tag myapp:latest myregistry.com/myapp:latest
    - docker push myregistry.com/myapp:latest
  only:
    - main
