stages:
  - build
  - test
  - deploy

build-job:
  stage: build
  script:
    - echo "Building the project"

lint-test-job:
  stage: test
  script:
    - echo "Running linter"

unit-test-job:
  stage: test
  script:
    - echo "Running unit tests"

deploy-job:
  stage: deploy
  script:
    - echo "Deploying the project"
