# Define stages in order of execution
stages:
  - build
  - test
  - sonar
  - docker

# Build the application
build:
  stage: build
  image: gradle:7.4-jdk17
  script:
    - gradle build
  artifacts:
    paths:
      - build/libs/*.jar

# Run tests
test:
  stage: test
  image: gradle:7.4-jdk17
  script:
    - gradle test

# Run SonarQube analysis
sonar:
  stage: sonar
  image: gradle:7.4-jdk17
  script:
    - gradle sonarqube -Dsonar.host.url="http://localhost:9000" -Dsonar.login=$SONAR_TOKEN

# Build Docker image
docker:
  stage: docker
  script:
    - docker build -t reserveit-app .
