image: openjdk:17

stages:
  - build
  - test
  - analyze

variables:

cache:
  key: "$CI_COMMIT_REF_NAME"
  paths:
    - .gradle/wrapper
    - .gradle/caches

build:
  stage: build
  script:
    - ./gradlew clean build

test:
  stage: test
  script:
    - ./gradlew test

sonarqube-check:
  stage: analyze
  image: gradle:7.4.2-jdk17
  script:
    - ./gradlew sonarqube
  allow_failure: true
